body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color:  #34312F;
}

li a {
    color: #A08971;
    padding: 10px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.back1{
    font-size: 20px;
    list-style-type: none;
    margin-top: 130px;
    margin-left: 1350px;
}

.back2{
    font-size: 20px;
    margin-top: 810px;
    margin-left: 1350px;
    list-style-type: none;
}

.back3{
    font-size: 20px;
    margin-left: 900px;
    margin-top: 100px;
    list-style-type: none;
}

ul {
    font-size: 24px;
    display: flex; 
    justify-content: center;   
    color: #A08971;
    text-align: center;
    list-style-type: none;
    margin: 10px;
    padding: 50px;
    width: 800px;
}

h1{
    color: #A08971;
    font-size: 30px;
    margin-top: 300px;
    margin-left: 120px;
}

h2{
    color: #AAA9A8;
    font-size: 15px;
    margin-left: 120px;
}

img {
    width: 60%;
    height: 60%;
}

.lightgrey {
    position: absolute;
    height: 600px;
    width: 100%;
    background-color: #E4E2DD;
}

.tekst{
    position: absolute;
    margin-top: -180px;
    margin-left: 610px;
}

.foto{
    display: flex;
}

.who {
    text-align: center;
    font-size: 32px;
    color: black;
}

.fotoklein > img {
    position: relative;
    margin-top: 17px;
    margin-left: 200px;
    width: 30%;
    height: 30%;
}

.info{
    position: absolute;
    margin-left: 720px;
}

.lijn {
    position: relative;
    height: 200px;
    width: 3px;
    background-color: #A08971;
    margin-top: -375px;
    margin-left: 700px;
}

.mywork {
        position: relative;
        margin-top: 630px;
        height: 800px;
        width: 100%;
        background-color: white;
}


.werk1{
    margin-top: 20px;
    text-align: center;
    width: 33%;
    background-color: white;
    position: absolute;
}

.paard > img{
    width: 50%;
    height: 50%;
    margin-top: 30px;
}

.black {
    margin-top: 620px;
    background-color: white;
}

.werk2 {
    text-align: center;
    width: 33%;
    background-color: white;
    position: absolute;
    margin-top: 20px;
    margin-left: 33%;
}

.logo > img{
    margin-top: 30px;
    width: 50%;
    height: 50%;
}

.werk3 {
    margin-top: 20px;
    text-align: center;
    width: 33%;
    background-color: white;
    position: absolute;
    margin-left: 66%;
}

.werk4{
    margin-top: 400px;
    text-align: center;
    width: 33%;
    background-color: white;
    position: absolute;
}

.werk5{
    margin-top: 400px;
    margin-left: 33%;
    text-align: center;
    width: 33%;
    background-color: white;
    position: absolute;
    
}

.werk6{
    margin-top: 400px;
    margin-left: 66%;
    text-align: center;
    width: 33%;
    background-color: white;
    position: absolute;
}

.contact {
    margin-top: 200px;
    position: relative;
    height: 550px;
    width: 100%;
    background-color: #E4E2DD;
}

.grey {
    color: black;
    height: 300px;
    margin-left: 30%;
    padding-top: 10px;
    font-size: 20px;
}

.grey h3 {
    margin-left: -44%;
}

h3 {
    color: #A08971;
    height: 120px;
    margin-bottom: -20px;
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
}

.name .lname .country .subject{
    position: absolute;
    width: 100%; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 10px; 
    margin-bottom: 16px; 
    resize: vertical
}

input[type=text] {
    align-content: center;
    width: 500px;
    height: 20px;
    padding: 5px; 
}

input[type=submit] {
    background-color: #A08971;
    color: white;
    margin-top: 30px;
    margin-left: 230px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align: center;
}

input[type=submit]:hover {
    background-color: #555;
}

.werk1:hover .vergroot, .werk2:hover .vergroot, .werk3:hover .vergroot, .werk4:hover .vergroot, .werk5:hover .vergroot, .werk6:hover .vergroot{
    opacity: 0.6;
}
.vergroot image:hover {
    opacity: 0.3;
    background-color:#A08971;
    width: 300px;
    height: 300px;
} 

.subject {
    margin-top: 20px;
}